<!--
<h1>Goodしたレシピ</h1>

<% if @good_recipes.any? %>
  <ul>
    <% @good_recipes.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Goodしたレシピはありません。</p>
<% end %>
-->