<% content_for(:title, t('profiles.posts.content')) %>

<body class="<%= user_signed_in? ? 'with-sidebar' : '' %>">
  <%= render 'shared/tabs', tab_paths: {
        both: posts_profile_path(view: 'both'),
        recipes: posts_profile_path(view: 'recipes'),
        foodstuffs: posts_profile_path(view: 'foodstuffs')
      },
      tab_labels: {
        both: t('profiles.posts.both'),
        recipes: t('profiles.posts.recipes'),
        foodstuffs: t('profiles.posts.foodstuffs')
      } %>

  <%= render 'profiles/profile_layout', title: t('profiles.posts.title') do %>
    <%= render 'shared/main_content' %>
  <% end %>
</body>
