<h1><%= t('foodstuffs.edit.title') %></h1>

<%= render "form", foodstuff: @foodstuff %>

<br>

<div>
  <%= link_to t('foodstuffs.show_foodstuff'), @foodstuff %> |
  <%= link_to t('foodstuffs.back_to_list'), foodstuffs_path %>
</div>
