<h1>Editing foodstuff</h1>

<%= render "form", foodstuff: @foodstuff %>

<br>

<div>
  <%= link_to "Show this foodstuff", @foodstuff %> |
  <%= link_to "Back to foodstuffs", foodstuffs_path %>
</div>
