<p style="color: green"><%= notice %></p>

<h1><%= t('foodstuffs.index.title') %></h1>

<div id="foodstuffs">
  <% @foodstuffs.each do |foodstuff| %>
    <%= render foodstuff %>
  <% end %>
</div>

<%= link_to t('foodstuffs.index.new_foodstuff'), new_foodstuff_path %>
