<% content_for(:title, t('foodstuffs.new.content')) %>

<h1><%= t('foodstuffs.new.title') %></h1>

<%= render "form", foodstuff: @foodstuff %>

<br>

<div>
  <%= link_to t('helpers.cancel'), root_path %>
</div>
