<% content_for(:title, t('foodstuffs.new.content')) %>

<div class="container">
  <h1 class="mb-4"><%= t('foodstuffs.new.title') %></h1>

  <div class="card p-4 shadow-sm">
    <%= render "form", foodstuff: @foodstuff %>
  </div>
</div>
