<%= form_with(model: [commentable, commentable.comments.build], local: true) do |form| %>
  <div class="field">
    <%= form.label :body, "コメント" %>
    <%= form.text_area :body %>
  </div>
  <div class="actions">
    <%= form.submit "コメントを追加" %>
  </div>
<% end %>
