<% content_for(:title, t('recipes.edit.content')) %>

<div class="container">
  <h1 class="mb-4"><%= t('recipes.edit.title') %></h1>

  <div class="card p-4 shadow-sm">
    <%= render 'form', recipe: @recipe %>
  </div>
</div>
