<h1>Badしたレシピ</h1>

<% if @bad_recipes.any? %>
  <ul>
    <% @bad_recipes.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Badしたレシピはありません。</p>
<% end %>
