<h1><%= @user.name %>さんのマイページ</h1>

<h2>持っている調理器具</h2>
<ul>
  <% @kitchen_tools.each do |tool| %>
    <li><%= tool.name %></li>
  <% end %>
</ul>

<h2>投稿したレシピ</h2>
<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe_path(recipe) %></li>
  <% end %>
</ul>

<h2>投稿した食品</h2>
<ul>
  <% @foodstuffs.each do |foodstuff| %>
    <li><%= link_to foodstuff.name, foodstuff_path(foodstuff) %></li>
  <% end %>
</ul>
