<div class="sidebar">
  <h2>絞り込み</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="<%= root_path %>?filter=bookmarks">ブックマーク</a>
    </li>
    <li class="list-group-item">
      <a href="<%= root_path %>?filter=good">Good</a>
    </li>
    <li class="list-group-item">
      <a href="<%= root_path %>?filter=bad">Bad</a>
    </li>
  </ul>
</div>
