<% content_for(:title, "入口") %>

<div class="container">
  <p>Home#top</p>

  <div class="row">
    <div class="col-md-6">
      <% content_for :left do %>
        <h1>左側のコンテンツ</h1>
        <p>ここに左側のコンテンツを配置します。</p>
      <% end %>
    </div>
    <div class="col-md-6">
      <% content_for :right do %>
        <h1>右側のコンテンツ</h1>
        <p>ここに右側のコンテンツを配置します。</p>
      <% end %>
    </div>
  </div>
</div>
