<% content_for(:title, t('home.top.content')) %>

<body class="<%= user_signed_in? ? 'with-sidebar' : '' %>">
  <%= render 'shared/tabs', tab_paths: {
        both: root_path,
        recipes: recipes_view_path,
        foodstuffs: foodstuffs_view_path
      },
      tab_labels: {
        both: t('home.top.both'),
        recipes: t('home.top.recipes'),
        foodstuffs: t('home.top.foodstuffs')
      } %>

  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-3">
        <%= render 'home/sidebar' %>
      </div>
      <div class="col-md-9">
    <% else %>
      <div class="col-md-12">
    <% end %>

    <%= render 'shared/main_content' %>
  </div>
</body>
